@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #000000;
	--secondary-color: #ffffff;
	--primary-button-color: #191a23;
	--secondary-button-color: #b9ff66;
	--accent-color: #f3f3f3;
}
