@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #000000;
	--secondary-color: #ffffff;
	--primary-button-color: #191a23;
	--secondary-button-color: #b9ff66;
	--accent-color: #f3f3f3;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: var(--secondary-color);
}

::-webkit-scrollbar {
	width: 8px;
	background-color: var(--primary-button-color);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: var(--primary-color);
}
